<div class="single-space"></div>

<h1 class="bold pad-left reveal">About Me:</h1>

<p class="pad-right pad-left reveal">
  Greetings! I'm Nour, a second-year CS and SWE
  student with a passion for all things tech. From airplanes
  to computer creations, I find joy in exploring the realms
  where technology and creativity intersect.


</p>

<p class="pad-right pad-left reveal">
  As a devoted enthusiast, I enjoy diving into various
  computer-based activities, such as coding, video editing,
  photo editing, and more. These endeavors allow me to
  unleash my imagination and transform my ideas into
  realities, no matter how crazy or silly they are.
</p>

<p class="pad-right pad-left reveal">
  Collaboration is one of my strengths, and I thrive in
  team environments. I am adept at working with others,
  bringing together diverse perspectives, and fostering
  a supportive and productive atmosphere. Additionally,
  I have developed leadership skills that enable me to
  guide and motivate team members to achieve common goals.
</p>

<p class="pad-right pad-left reveal">
  Join me on my journey of continuous learning and
  innovation as I strive to make a lasting impact in the
  world of technology.
</p>
