<footer>
    <div><p style="font-style: italic; font-size: medium;">Designed and Developed by Nour Ashoush</p></div>
    <div class="footer_socials">
        <a href="mailto:nour.bsm.ashoush@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fas fa-envelope"></i></a>
        <a href="https://www.linkedin.com/in/nour-b-ashoush/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/NourAshoush" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
    </div>
</footer>