<div class="single-space"></div>

<h1 class="bold pad-left reveal">Education:</h1>

<div class="academy-container reveal" >
  <div class="academy-default" (click)="toggleShowModules()">
    <div class="academy-images">
      <img src="assets/UOB-logo.png" alt="University of Birmingham logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">University of Birmingham</h2>
      <h3><i>MEng Computer Science and Software Engineering</i></h3>
      <h3>2021 - 2024</h3>
    </div>
    <div class="academy-images" id="show-arrow">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div class="pad-left pad-right academy-modules">
    <div>
      <h3>Year 1 Modules</h3>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-diagram-project"></i>
        </div>
        <p class="unselectable">Object Oriented Programming</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-sitemap"></i>
        </div>
        <p class="unselectable">Data Structures and Algorithms</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-calculator"></i>
        </div>
        <p class="unselectable">Mathematical and Logical Foundations of CS</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-layer-group"></i>
        </div>
        <p class="unselectable">Full Stack Application Development</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-flask-vial"></i>
        </div>
        <p class="unselectable">Theories of Computation</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-microchip"></i>
        </div>
        <p class="unselectable">Artificial Intelligence 1</p>
      </a>
    </div>
    <div>
      <h3>Year 2 Modules</h3>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-laptop-code"></i>
        </div>
        <p class="unselectable">Operating Systems and Systems Programming</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-cubes"></i>
        </div>
        <p class="unselectable">Software Engineering and Professional Practice</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-code"></i>
        </div>
        <p class="unselectable">Functional Programming</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-shield-halved"></i>
        </div>
        <p class="unselectable">Security and Networks</p>
      </a>
      <a class="link" routerLink="team-project">
        <div class="icon-container">
          <i class="fas fa-people-group"></i>
        </div>
        <p class="unselectable">Team Project</p>
      </a>
      <a class="link">
        <div class="icon-container">
          <i class="fas fa-brain"></i>
        </div>
        <p class="unselectable">Artificial Intelligence 2</p>
      </a>
    </div>

  </div>
</div>

<br>

<div class="academy-container reveal">
  <div class="academy-default">
    <div class="academy-images">
      <img src="assets/KICL-logo.png" alt="Kaplan International College London logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">Kaplan International College London</h2>
      <h3><i>Foundation of Science and Engineering</i></h3>
      <h3>2020 - 2021</h3>
    </div>
  </div>


</div>

<br>

<div class="academy-container reveal">
  <div class="academy-default">
    <div class="academy-images">
      <img src="assets/BSK-logo.png" alt="The British School of Kuwait logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">The British School of Kuwait</h2>
      <h3><i>General Certificate of Secondary Education (IGCSE)</i></h3>
      <h3>2008 - 2020</h3>
  </div>

  </div>
</div>
