.academy-container {
  margin-left: 10%;
  margin-right: 10%;

  background-color: var(--container);
  border-radius: 20px;

  transition: all 0.3s ease;

  &:hover {
    scale: 102%;
    filter: drop-shadow(1px 2px 4px var(--drop-shadow));
  }
}

.academy-default {
  overflow: auto;
  height: auto;
  display: flex;
}

.academy-images {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: max-height 0.5s ease;

  & img {
    max-height: 50%;
    max-width: 50%;
    display: block;
  }

  & i:hover {
    cursor: pointer;
  }
}

.academy-details {
  flex: 8;
}

.academy-modules {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease;

  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  & > * {
    width: 100%;
    padding: 1rem;
  }

  & p {
    margin: 0.2rem 0;
  }
}

.link {
  display: flex;
  align-items: center;

  background-color: var(--container);
  transition: all 0.3s ease;
  border-radius: 0.5rem;
  padding: 0.2rem 0.8rem;
  text-decoration: none;
  color: var(--main-font);
  cursor: pointer;

  &:hover {
    background-color: var(--inner-container);
    scale: 103%;
  }

  //&:hover .icon-container i:before {
  //  //animation: blink 0.4s forwards;
  //}
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  50% {
    content: "\f178";
    opacity: 0;
  }
  100% {
    content: "\f178";
    opacity: 1;
  }
}

.icon-container {
  width: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.4s ease;
}

.show-courses {
  max-height: fit-content;
}

#show-arrow {
  transition: transform 0.5s ease;
  transform: rotate(0deg);
}

@media (min-width:768px) {
  .academy-modules {
    flex-direction: row;

    & > * {
      width: 50%;

    }
  }
}
