.academy-container {
  margin-left: 10%;
  margin-right: 10%;
  overflow: auto;
  height: auto;
  display: flex;

  background-color: rgb(243, 243, 243);
  border-radius: 20px;

  transition: all 0.3s ease;

  &:hover {
    scale: 105%;
    filter: drop-shadow(1px 2px 4px rgba(0, 0, 0, 0.2));
  }
}

.academy-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.academy-logo img {
  max-height: 50%;
  max-width: 50%;
  display: block;
}

.academy-details {
  flex: 8;
}
