<div class="single-space"></div>

<h1 class="bold pad-left reveal">Education:</h1>

<div class="academy-container reveal" (click)="toggleShowModules()">
  <div class="academy-default">
    <div class="academy-images">
      <img src="assets/UOB-logo.png" alt="University of Birmingham logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">University of Birmingham</h2>
      <h3><i>MEng Computer Science and Software Engineering</i></h3>
      <h3>2021 - 2024</h3>
    </div>
    <div class="academy-images" id="show-arrow">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
  <div class="pad-left pad-right academy-modules">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>
</div>

<br>

<div class="academy-container reveal">
  <div class="academy-default">
    <div class="academy-images">
      <img src="assets/KICL-logo.png" alt="Kaplan International College London logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">Kaplan International College London</h2>
      <h3><i>Foundation of Science and Engineering</i></h3>
      <h3>2020 - 2021</h3>
    </div>
  </div>


</div>

<br>

<div class="academy-container reveal">
  <div class="academy-default">
    <div class="academy-images">
      <img src="assets/BSK-logo.png" alt="The British School of Kuwait logo">
    </div>
    <div class="academy-details">
      <h2 style="font-weight: 400">The British School of Kuwait</h2>
      <h3><i>General Certificate of Secondary Education (IGCSE)</i></h3>
      <h3>2008 - 2020</h3>
  </div>

  </div>
</div>
