<div class="theme-toggle" (click)="toggleDarkMode()">
  <i class="fas" [ngClass]="{'fa-sun': isDarkMode, 'fa-moon': !isDarkMode}"></i>
</div>
<div class="progress-bar-ghost"></div>
<div class="progress-bar"></div>

<a id="tech_skills_checkpoint" class="checkpoint" (click)="scrollToElement('tech_skills_element')">
  <span class="sectionTitle unselectable">Tech Skills</span>
</a>

<a id="education_checkpoint" class="checkpoint" (click)="scrollToElement('education_element')">
  <span class="sectionTitle unselectable">Education</span>
</a>

<a id="projects_checkpoint" class="checkpoint" (click)="scrollToElement('projects_element')">
  <span class="sectionTitle unselectable">Projects</span>
</a>
