$progress-bar-width: 6px;

.progress-bar-ghost {
  position: fixed;
  width: $progress-bar-width;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  left: 0;
  transition: width 0.3s ease, transform 0.3s ease;
}

.progress-bar {
  --progress: 0;
  position: fixed;
  width: $progress-bar-width;
  height: var(--progress);
  background-color: black;
  left: 0;
  border-radius: 0 0 $progress-bar-width/2 $progress-bar-width/2;

  transition: width 0.3s ease, transform 0.3s ease;
}

.hoverBar {
  width: $progress-bar-width * 2;
  transform: translateX(15px);
}

.checkpoint {
  position: fixed;
  width: $progress-bar-width - 2;
  height: $progress-bar-width - 2;
  background-color: white;
  border: black solid 1px;
  left: 0;
  border-radius: 50%;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 0 4px black !important;
  }

  &.hoverPoint {
    width: ($progress-bar-width - 2) * 3;
    height: ($progress-bar-width - 2) * 3;
    left: 15px - ($progress-bar-width - 5);
    box-shadow: 0 0 0 2px black;
  }
}

.checkpoint .sectionTitle {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  top: -90%;
  left: 180%;

  transition: all 0.3s ease;
}

.checkpoint:hover .sectionTitle {
  opacity: 1;
  visibility: visible;
}

#tech_skills_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

#education_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

#projects_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

.go_down {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 1%;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .checkpoint, .progress-bar, .progress-bar-ghost, .sectionTitle {
    display: none;
  }
}

@media (min-width: 768px) {

}
