<app-navbar class="hideOnLaptop"></app-navbar>

<app-scrollbar class="hideOnPhone"></app-scrollbar>
<i class="hideOnPhone fas fa-arrow-left guide"><span> h o v e r</span></i>
<div class="hideOnPhone guide-hover"></div>

<app-welcome-message></app-welcome-message>
<a class="go_down" (click)="scrollToElement('about_element')"> <div class="down-arrow"></div> </a>

<div class="double-space"></div>
<app-about id="about_element"></app-about>

<div class="double-space"></div>
<app-tech-skills id="tech_skills_element"></app-tech-skills>

<div class="double-space"></div>
<app-education id="education_element"></app-education>

<div class="double-space"></div>
<app-projects id="projects_element"></app-projects>

<div class="double-space"></div>
