<!--<app-navbar></app-navbar>-->

<app-scrollbar></app-scrollbar>

<app-welcome-message></app-welcome-message>
<a class="go_down" (click)="scrollToElement('tech_skills_element')"> <div class="down-arrow"></div> </a>

<div class="double-space"></div>
<app-tech-skills id="tech_skills_element"></app-tech-skills>

<div class="double-space"></div>
<app-education id="education_element"></app-education>

<div class="double-space"></div>
<app-projects id="projects_element"></app-projects>

<div class="double-space"></div>
