$progress-bar-width: 6px;

.progress-bar-ghost {
  position: fixed;
  width: $progress-bar-width;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.4);
  right: 0;
  transition: width 0.3s ease, transform 0.3s ease;
}

.progress-bar {
  --progress: 0;
  position: fixed;
  width: $progress-bar-width;
  height: var(--progress);
  background-color: var(--icon-label);
  right: 0;
  border-radius: 0 0 calc($progress-bar-width / 2) calc($progress-bar-width / 2);

  transition: width 0.3s ease, transform 0.3s ease;
}

.theme-toggle {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: ($progress-bar-width+1) * 7;
  top: -30px;
  width: 20px;
  height: 20px;
  padding: 4px;
  border-radius: 20px;
  background-color: var(--invert-background);
  cursor: pointer;

  transition: all 0.3s ease;

  & i {
    color: var(--invert-font);
  }

  &:hover {
    box-shadow: 0 0 0 5px var(--invert-background);
  }
}

.hoverToggle {
  transform: translateY(40px);
}

.checkpoint {
  @extend .unselectable !optional;
  position: fixed;
  width: $progress-bar-width - 2;
  height: $progress-bar-width - 2;
  background-color: var(--background);
  border: var(--icon-label) solid 1px;
  right: 0;
  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 0 0 4px var(--icon-label) !important;
  }

  &.hoverPoint {
    width: ($progress-bar-width - 2) * 3;
    height: ($progress-bar-width - 2) * 3;
    right: 15px - ($progress-bar-width - 5);
    box-shadow: 0 0 0 2px var(--icon-label);
  }
}

.checkpoint .sectionTitle {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 120px;
  background-color: var(--icon-label);
  color: var(--icon-font);
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  top: -90%;
  right: 180%;

  transition: all 0.3s ease;
}

.checkpoint:hover .sectionTitle {
  opacity: 1;
  visibility: visible;
}

#tech_skills_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

#education_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

#projects_checkpoint {
  --heightOffset: 0;
  top: var(--heightOffset);
}

.go_down {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--main-font);
  cursor: pointer;
}

.down-arrow {
  position: absolute;
  top: calc(100vh - 60px);
  left: calc(50% - 14px);
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 1%;
  }
  100% {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .checkpoint, .sectionTitle {
    display: none;
  }

  .hoverBar { }

}

@media (min-width: 768px) {
  .hoverBar {
    width: $progress-bar-width * 2;
    transform: translateX(-15px);
  }
}
