<div class="single-space"></div>

<h1 class="bold pad-left reveal">Projects</h1>

<div class="pad-left">

  <p>Project stuff here!</p>

  <ul>
    <li class="reveal">
      Designed and developed a static angular web application as a personal website/portfolio to better showcase my projects and abilities. (Available at nourashoush.com)
    </li>
    <br>
    <li class="reveal">
      Planned and developed a full-stack JHipster (Angular + Spring Boot + PostgreSQL) social studying web application as part of an assessed university team project. It is a platform in which users can plan their studies, study in online sessions with friends, join leagues to compete globally and make social media style posts. (Available on my GitHub)
    </li>
    <br>
    <li class="reveal">
      Created a minimalistic Python GUI executable application for the accounting team of a company which automatically searches and transfers data between standardised Excel files. (Available on my GitHub)
    </li>
    <br>
    <li class="reveal">
      Coded a web scraper in Python that scans key information off a given user’s profile URL from a popular TV show and movie database called MyAnimeList and logs it in an Excel file. (Available on my GitHub)
    </li>
  </ul>

</div>

