.pad-left {
  padding-left: 10%;
}

.language-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 3rem;
    padding: 0 13px;
    transition: all 0.3s ease;
    overflow-wrap: normal;

    &:hover {
      opacity: 90%;
      scale: 120%;
      padding: 0 20px;
      filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
    }
  }
}
