div {
  border: red dashed 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  scroll-behavior: smooth;

}

h1, h2, h3, p {
  font-weight: 300;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.bold {
  font-weight: 500;
  font-size: 2.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.spacing {
  height: 30%;
}

.reveal {
  opacity: 0;
  transition: all 0.3s ease;
}

.reveal.active {
  opacity: 1;
}
