div {
  border: red dashed 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;

  scroll-behavior: smooth;

}

h1, h2, h3, p, span {
  font-weight: 300;
  @extend .unselectable;
}

.bold {
  font-weight: 500;
  font-size: 2.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.double-space {
  @extend .unselectable;
  display: block;
  position: static;
  height: 45%;
  width: 100%;
}

.single-space {
  @extend .unselectable;
  display: block;
  position: static;
  height: 5%;
  width: 100%;
}

.pad-left {
  padding-left: 10%;
}

.unselectable {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  cursor: default;
}

.reveal {
  opacity: 0;
  transition: all 0.3s ease;
}

.reveal.active {
  opacity: 1;
}

.icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}

.icon {
  font-size: 3rem;
  padding: 0 13px 13px;
  transition: all 0.3s ease;
  overflow-wrap: normal;
  height: 3rem;
  width: 3rem;

  & svg {
    height: 3rem;
    width: 3rem;
  }

  &:hover {
    opacity: 90%;
    scale: 120%;
    padding: 0 20px 13px;
    filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.3));
  }
}

.icon .iconText {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 5px;
  border-radius: 6px;

  bottom: 120%;
  left: 50%;
  margin-left: -60px;

  transition: all 0.3s ease;
}

.iconText {
  font-size: 1rem;
  line-height: 1rem;
}

.iconTextContent {
  font-size: 0.7rem;
}

.icon:hover .iconText {
  opacity: 1;
  visibility: visible;
}

.icon .iconText::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
