<div class="welcome_elements">
    <div class="welcome_banner">
        <div class="welcome_messages">
            <h1>Hello! I am</h1>
            <h1 class="bold">Nour Ashoush</h1>
            <p>
                I'm a second year Computer Science and<br>
                Software Engineering student at the<br>
                University of Birmingham
            </p>
        </div>

        <img src="../../../assets/MyPicture.jpg" alt="Welcome Image" class="welcome_image">
    </div>

    <div class="go_down"> <div class="down-arrow"></div> </div>
</div>
