.welcome_elements {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90%;
}

.welcome_banner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.welcome_messages {
	padding-right: 2%;
	text-align: right;
}

.welcome_image {
	border-radius: 30%;
	width: 15%;
	height: 100%;
	object-fit: cover;
}
